.aboutMe {
	margin-inline: auto;
	margin: 0 0 160px 0;
}
.aboutTitle {
	margin: 0 0 100px 0;
	text-align: center;
}
.wrapper {
	display: grid;
	grid-template-columns: 30% 1fr auto;

	place-items: center;
	gap: 20px;
}
.imgBox {
	border-right: 5px dashed var(--red-accent);
	border-top: 5px dashed var(--red-accent);
	grid-row: 1/2;
	grid-column: 1/2;
}

.img {
	filter: brightness(90%) saturate(0%);
	padding: 10px;

	transition: filter 0.2s ease-in-out;
}

.img:hover {
	filter: brightness(100%) saturate(100%);
}

.aboutText {
	display: flex;
	flex-wrap: wrap;
	align-self: start;
	min-height: 100%;
}

.aboutTextItem {
	width: 100%;
}

.aboutTextItem:last-child {
	margin: 0 0 60px 0;
}

.accent {
	font-family: var(--ff-heading);
	color: var(--accent-clr);
}
.titleAccent {
	color: var(--red-accent);
}

.skills {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.skillsTitle {
	font-family: var(--ff-heading);
	font-size: var(--fs-md);
	color: var(--accent-clr);
}

.skillsWrapper {
	display: flex;
	gap: 8px;
}

.skillsItem {
	font-size: var(--fs-sm);
	line-height: 19px;
	color: var(--text-clr-main);
	background-color: var(--red-accent);
	padding: 8px 12px;
	border-radius: 4px;
}
