.aboutMe {
	margin-inline: auto;
	margin: 0 0 10rem 0;
}
.aboutTitle {
	margin: 0 0 6.25rem 0;
	text-align: center;
}
.wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: var(--gap-lg);
}
.imgBox {
	border-right: 5px dashed var(--red-accent);
	border-top: 5px dashed var(--red-accent);
	order: -1;
	margin: 0 var(--gap-lg) 0 0;
}

.img {
	filter: brightness(90%) saturate(0%);
	padding: 0.625rem;

	transition: filter 0.2s ease-in-out;
}

.img:hover {
	filter: brightness(100%) saturate(100%);
}

.aboutText {
	align-self: start;
	flex: 1;

	margin-bottom: 20px;
}

.aboutTextItem {
	width: 100%;
}

.accent {
	font-family: var(--ff-heading);
	color: var(--accent-clr);
}
.titleAccent {
	color: var(--red-accent);
}

.skills {
	margin: auto 0 0 0;
	display: flex;
	flex-direction: column;
	gap: var(--gap-lg);
}

.skillsTitle {
	font-family: var(--ff-heading);
	font-size: var(--fs-main);
	color: var(--accent-clr);
}

.skillsWrapper {
	display: flex;
	gap: var(--gap-sm);
}

.skillsItem {
	font-size: var(--fs-sm);
	line-height: 1.1875rem;
	color: var(--text-clr-main);
	background-color: var(--red-accent);
	padding: var(--gap-sm) var(--gap-md);
	border-radius: 4px;
}

@media (max-width: 380px) {
	.wrapper {
		flex-direction: column;
		align-items: center;
	}
	.imgBox {
		border-right: none;
		border-top: none;
		border-bottom: 3px dashed var(--red-accent);
		border-left: 3px dashed var(--red-accent);
		margin: 0 0 var(--gap-lg) 0;
	}
	.aboutText {
		border: none;
	}
	.skillsWrapper {
		flex-wrap: wrap;
	}
	.skills {
		margin: var(--gap-lg) 0 0 0;
	}
}
