.btnMain {
	border: 1px solid var(--accent-clr);
	background-color: transparent;
	padding: 1.5rem 4.6rem;
	border-radius: 0.6rem;
	font-family: var(--ff-heading);
	color: var(--accent-clr);
	cursor: pointer;

	transition: all 0.3s ease-in-out;
}

@media (max-width: 826px) {
	.btnMain {
		padding: 1rem 2.6rem;
	}
}

.btnMain:hover {
	background-color: var(--accent-clr);
	color: #222;
}
