.work {
	padding: var(--gap-60) 0;
	margin: 0 0 var(--gap-160) 0;
}
.workTitle {
	text-align: left;
	margin: 0 0 var(--gap-100) 0;
}

.redAccent {
	color: var(--red-accent);
}

.workWrapper {
	display: flex;
	justify-content: center;
	gap: var(--gap-lg);
}

.workItem {
	display: grid;
	grid-template-columns: 25.25rem 1fr;
	gap: var(--gap-md);
}
.workHeading {
	display: flex;
	flex-direction: column;
}
.companyName {
	font-family: var(--ff-heading);
	font-size: var(--fs-md);
	line-height: 19px;
	letter-spacing: 0.01em;
	color: var(--red-accent);
}

.companyDate {
	font-size: var(--fs-sm);
	line-height: 19px;
	color: var(--text-clr-secondary);
}
.companyPosition {
	margin: 0 0 0.375rem 0;
	font-size: var(--fs-sm);
	line-height: 19px;
}

.companyLink {
	cursor: pointer;
	display: inline-block;
}
.companyLinkIcon {
	fill: var(--text-clr-main);
	width: 1.5rem;
	height: 1.5rem;
	transition: fill 0.2s ease-in-out;
}

.companyLinkIcon:hover {
	fill: var(--red-accent);
	font-family: var(--ff-heading);
}

.workText {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);
	width: 100%;
	max-width: 25.25rem;
	grid-column: 1/2;
	align-self: center;
}

.workParagraph {
	line-height: 19px;
	color: var(--text-clr-main);
	padding: var(--gap-md);
	box-shadow: var(--box-shadow);
	background-color: var(--bg-clr-secondary);
	border-radius: 4px;
}
.accent {
	color: var(--accent-clr);
}

.workImgBox {
	grid-column: 2/3;

	border-left: 5px dashed var(--accent-clr);
	border-bottom: 5px dashed var(--accent-clr);
}
.workImage {
	filter: brightness(90%) saturate(0%);
	padding: var(--gap-sm);

	transition: filter 0.2s ease-in-out;
}

.workImage:hover {
	filter: brightness(100%) saturate(100%);
}

.workSkills {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-sm);
}

.skillsItem {
	font-size: var(--fs-sm);
	line-height: 19px;
	color: var(--text-clr-main);
	background-color: var(--red-accent);
	padding: 4px 8px;
	border-radius: 4px;
}

@media screen and (max-width: 826px) {
	.work {
		padding: var(--gap-md) 0;
		margin: 0 0 var(--gap-100) 0;
	}
	.workTitle {
		text-align: center;
	}
	.workWrapper {
		flex-direction: column;
		flex-grow: 1;
	}
	.workItem {
		display: flex;
		flex-direction: column;
	}
	.workImgBox {
		border-left: none;
		border-top: none;
		border-bottom: 3px dashed var(--accent-clr);
	}
	.workText {
		display: grid;
		max-width: inherit;
	}
	.workImage {
		width: 100%;
	}
}
