.contacts {
	margin: 0 0 60px 0;
}

.contactsTitle {
	margin: 0 0 20px 0;
}
.accent {
	color: var(--red-accent);
}
.contactsDesc {
	margin: 0 0 20px 0;
	max-width: 550px;
	text-align: center;
}

.formWrapper {
	display: grid;
	place-items: center;
}
.form {
	width: 100%;
	max-width: 555px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.input,
.textarea {
	background: #2b2b2b;
	border-radius: 6px;
	padding: 6px 18px;
	width: 100%;
}

.socialWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.socialLinks {
	display: flex;
	gap: 8px;
}

.socialIcon {
  width: 34px;
  height: 32px;
  fill: var(--text-clr-main);

  transition: fill 0.2s ease, scale 0.2s ease;
}

.socialIcon:hover {
  fill: var(--accent-clr);
  transform: scale(1.1);
}
