.hero {
	padding: var(--gap-60) 0;
	margin: 0 0 var(--gap-160) 0;
}

.heroIcon {
	width: 2.125rem;
	height: 2rem;
	fill: var(--text-clr-main);
}
.wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 43.75rem;
}

.decorRed {
	position: absolute;
	top: 0;
	right: 0;
	width: 3.125rem;
	height: 3.125rem;
	border: 5px dashed var(--red-accent);
	border-radius: 50%;
	background: transparent;
}
.decorBlue {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 3.125rem;
	height: 3.125rem;
	border: 5px dashed var(--accent-clr);
	border-radius: 50%;
	background: transparent;
}

.titleBlock {
	padding: 0 0 0 var(--gap-100);
	align-self: center;
	grid-column: 2 / 3;
	grid-row: -2/ -1;
}

.title {
	font-family: var(--ff-heading);
	font-weight: 400;
	font-size: 6rem;
	line-height: 7.25rem;
	letter-spacing: 0.02em;
	margin: 0 0 var(--gap-lg) 0;
	color: var(--text-clr-main);
}

span {
	display: inline-block;
}

.accentRed {
	color: var(--red-accent);
}
.accentGreen {
	color: var(--accent-clr);
}

.social {
	display: flex;
	align-items: center;
	gap: var(--gap-lg);
}
.socialLink {
	border: 2px solid var(--text-clr-main);
	padding: var(--gap-md);
	border-radius: 50%;

	transition: all 0.2s ease;
}
.socialLink:hover {
	transform: scale(1.1);
	border: 2px dashed var(--accent-clr);
}

@media (max-width: 1334px) {
	.wrapper {
		grid-template-columns: 1fr;
	}
	.titleBlock {
		padding: 0;
		grid-column: 1 / 2;
		text-align: center;
	}
	.title {
		font-size: 4rem;
		line-height: 5.25rem;
	}
	.decorRed {
		top: 0;
		right: 0;
	}
	.decorBlue {
		top: 0;
		left: 0;
	}
	.social {
		justify-content: center;
	}
}

@media (max-width: 420px) {
	.hero {
		margin: 0 0 var(--gap-xxl) 0;
		padding: 0;
		min-height: 60%;
	}
	.title {
		font-size: 3rem;
		line-height: 4.25rem;
	}
	.decorBlue,
	.decorRed {
		width: 2rem;
		height: 2rem;
	}

	.heroIcon {
		width: 1.5rem;
		height: 1.5rem;
	}
}
