.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--gap-xl) 0;
}
.menuWrapper {
	display: flex;
	align-items: center;
	gap: 34px;
}
.btnMain {
	border: 1px solid var(--accent-clr);
	background-color: transparent;
	padding: var(--gap-lg) var(--gap-xxxl);
	border-radius: 0.6rem;
	font-family: var(--ff-heading);
	color: var(--accent-clr);
	cursor: pointer;

	transition: all 0.3s ease-in-out;
}

.btnMain:hover {
	background-color: var(--accent-clr);
	color: #222;
}

@media (max-width: 826px) {
	.btnMain {
		padding: var(--gap-md) var(--gap-xl);
	}
}

@media (max-width: 380px) {
	.btnMain {
		padding: var(--gap-sm) var(--gap-lg);
		font-size: var(--fs-sm);
	}
}
