@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ff-main: 'Nunito', sans-serif;
	--ff-heading: 'Russo One', sans-serif;

	/*Colors*/
	--bg-clr-main: #050817;
	--bg-clr-secondary: #1b414e;
	--text-clr-main: #ccd7f7;
	--text-clr-secondary: #8891b0;
	--accent-clr: #08fcd8;
	--red-accent: #df506e;

	/*Font sizes*/
	--fs-lg: 32px;
	--fs-main: 18px;
	--fs-md: 21px;
	--fs-sm: 16px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: var(--ff-main);
	font-size: var(--ff-main);
	background-color: var(--bg-clr-main);
	color: var(--text-clr-main);
}

.container {
	width: 100%;
	max-width: 1440px;
	padding: 0 1rem;
	margin-inline: auto;
}
.title {
	font-family: var(--ff-heading);
	color: var(--accent-clr);
	font-size: var(--fs-lg);
	text-transform: capitalize;
}
