@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800&family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ff-main: 'Nunito', sans-serif;
	--ff-heading: 'Russo One', sans-serif;

	/*Colors*/
	--bg-clr-main: #050817;
	--bg-clr-secondary: #1b414e;
	--text-clr-main: #ccd7f7;
	--text-clr-secondary: #8891b0;
	--accent-clr: #08fcd8;
	--red-accent: #df506e;

	/*Font sizes*/
	--fs-lg: 2rem; /*32px*/
	--fs-md: 1.5rem; /*24px*/
	--fs-main: 1.125rem; /*18px*/
	--fs-sm: 1rem; /*16px*/

	/*gap*/
	--gap-sm: 0.5rem; /*8px*/
	--gap-md: 1rem; /*16px*/
	--gap-lg: 1.25rem; /*20px*/
	--gap-xl: 1.5rem; /*24px*/
	--gap-xxl: 2rem; /*32px*/
	--gap-xxxl: 3rem; /*48px*/
	--gap-100: 6.25rem; /*100px*/
	--gap-160: 10rem; /*160px*/
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	font-size: 16px;
}
@media screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}
}

body {
	min-height: 100vh;
	font-family: var(--ff-main);
	font-size: var(--ff-main);
	background-color: var(--bg-clr-main);
	color: var(--text-clr-main);
}

.container {
	width: 100%;
	max-width: 90rem;
	padding: 0 1rem;
	margin-inline: auto;
}
.title {
	font-family: var(--ff-heading);
	color: var(--accent-clr);
	font-size: var(--fs-lg);
	text-transform: capitalize;
}
